[submodule "wrapper"]
	path = wrapper
	url = https://github.com/ganboing/ski-wrapper.git
[submodule "vmm"]
	path = vmm
	url = https://github.com/ganboing/ski-vmm.git
[submodule "script"]
	path = script
	url = https://github.com/ganboing/ski-script.git
